{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>Search Results for "{{query}}":</h1>
    {% if related %}

    <p>Related Entries:</p>

    <ul>
        {% for query in related %}
            <li><a href="wiki/{{query}}" type="">{{query}}</a> </li>
        {% endfor %}
    </ul>

    {% else %}
    <p>No search results found for "{{query}}". Try searching for something else or create your own page!</p>

    {% endif %}

{% endblock %}